.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

